<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/reset.css"/>
	
	<link rel="shortcut icon" href="/static/images/icon/favicon.ico">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.3/css/all.min.css">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- Custom CSS -->
<!-- 	<link rel="stylesheet" href="css/header.css">
 -->	<!-- <link href="css/styles.css" rel="stylesheet" /> -->
	<link rel="stylesheet" href="css/dac_biet.css">
	<link rel="stylesheet" href="css/tintuc_sk.css">
	<link rel="stylesheet" href="/static/js/scoll.js">
	<link href="/static/jqueryui/jquery-ui.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/product.css">
	
	<!-- Javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="/static/jqueryui/jquery-ui.min.js"></script>
	<script src="/static/js/index.js"></script>
				
</head>
<body>
	<div th:fragment="sub-content">
		<div class="gia-soc1" style="margin-top: 30px;">
			<h3 class="title">
				<b> 
					<span th:text="${products.size()} +' sản phẩm'"></span> 
				</b>
			</h3>
			<div class="d-flex justify-content-center" style="margin: 30px 30px; height: auto;" th:each="product:${products}>
				
					<div class="card-group col-sm-3" style="margin-top: 10px; margin-left:100px;">
						<div class="card" style="width: 27rem; background-color: whitesmoke;">
							<!-- Top của card -->
							<a th:href="@{/detail?id=}+${product.id}" class="caption-picture">
								<div class="discount" th:with="condition=${product.discount}" >
									<!-- IF -->
									<div th:if="${condition}">
										<div class="discount-label green"> <span th:text="${#numbers.formatInteger(product.discount*100,2)} + '%'"></span> </div>
									</div>
									<!-- ELSE -->
									<div th:unless="${condition}">
										<div class="discount-label blue"> <span>Hihi</span></div>
									</div>
								</div> 
								<img class="card-img-top" th:src="@{'/img/product/' + ${product.image}}" title="something">
							</a>
							
							<!-- Body của card -->
							<div class="card-body">
								<div class="caption-price">
									<p style="padding: 3px; text-align: center; color: black;" class="book-name" th:text="${product.bookname}"></p>
									<div th:with="condition=${product.discount}" class="d-flex justify-content-center">
										<!-- IF CUSTOMER IS ANONYMOUS -->
										<div th:if="${condition}" >
											<span style="text-decoration: line-through; color: Gray; font-weight: bold;" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}+' VNĐ'"></span>
											<span style="text-align: left; font-weight: bold; color: #db3208;" th:text="${#numbers.formatDecimal(product.price * (1 - product.discount), 0, 'COMMA', 2, 'POINT')}+' VNĐ'"></span>
										</div>
										<!-- ELSE -->
										<div th:unless="${condition}">
											<span style="text-align: left; font-weight: bold; color: #db3208;" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}+' VNĐ'"></span>
										</div>
									</div>
								</div>
								<br>
								<div data-id="${product.id}" class="caption-button">
									<button class="btn btn-sm btn-danger btn-add-to-cart">
										<i class="glyphicon glyphicon-shopping-cart"></i>
									</button>

									<button class="btn btn-sm btn-warning btn-star">
										<i class="glyphicon glyphicon-star"></i>
									</button>

									<button class="btn btn-sm btn-success btn-open-dialog"
										data-toggle="modal" data-target="#myModal">
										<i class="glyphicon glyphicon-envelope"></i>
									</button>
								</div>
								<br>
							</div>
						</div>
					</div>
			
			</div>
		</div>
	</div>

</body>
</html>